<!DOCTYPE html>
<html>
<head>

</head>
<style>
body {background-color: #ffe6e6;}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="myApp" ng-controller="todoCtrl">

<h2 style="color:#330000; font-family:verdana; font-size: 200% ">My Todo List</h2>

<form ng-submit="todoAdd()">
    <input style="padding: 8px;" type="text" ng-model="todoInput" size="65" placeholder="write here">
    <input style="margin: 10px;;" type="submit" value="Add New">
</form>

<br>

<div ng-repeat="todo in todoList">
    <input type="checkbox" ng-model="todo.isComplete"> <span ng-bind="todo.task"></span>
    <br>
</div>

<script>
//var http = require('http');	
var app = angular.module('myApp', []); 
app.controller('todoCtrl', function($scope) {
    $scope.todoList = [{task:"wash my clothes", isComplete:false}];
    //var x = this;
    $scope.todoAdd = function() {
        $scope.todoList.push({task:$scope.todoInput, isComplete:false});
        $scope.todoInput = "";
    };



    // $scope.findOne= function(){
    // 	$scope.task= tasks.get({
    // 		taskId: $routerParams.taskId
    // 	})
    // };

    // $scope.getTasks=function(){
    // 	return x.http.get('http://localhost:3000/api/tasks')
    // 	then(res => res.json())
    // }

});
</script>

</body>
</html>